

<a id="mylink"  href="https://google.com" target="_blank">
<h1 id="name" class="title" data-bind="name"></h1>

<h1 id="jobname" class="title" data-bind="jobname"></h1>

<h3 id="status" data-bind="status"></h3>

<p id="msg" data-showif="show-health">
  <img data-bind-src="image"></img>
  <span class="small" data-bind="msg"></span>
</p>

<p id="updated" class="updated-at" data-bind="updatedAtMessage"></p>


   <p   class="link"></p>
</a>


















