<a id="mylink" href="https://coupadev.atlassian.net/issues/?jql=sprint%20in%20openSprints()%20AND%20labels%20in%20(tech_platform_team)" target="_blank">
<h1 class="title" data-bind="title"></h1>

<input id="meter" class="meter" data-angleOffset=-125 data-angleArc=250 data-width=200 data-readOnly=true data-bind-value="value | shortenedNumber" data-bind-data-min="min" data-bind-data-max="max">

<p class="more-info" data-bind="moreinfo"></p>

<p id="updated" class="updated-at" data-bind="updatedAtMessage"></p>
<p   class="link"></p>
</a>