// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
/*$background-color:  #45B7E9;

$title-color:       rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 0.7);*/

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: #45B7E9;
  border-radius: 15px;
  h2 { font-size: 2em;}
  h1 { font-size: 2em;}


  .title {
    color: rgba(255, 255, 255, 1);
  }

  .more-info {
    color: rgba(255, 255, 255, 0.7);
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
}
