.auth-container
  = link_to "Login with GitHub Oauth", sign_in_path, class: "sign-in-btn"
  .description-box If you have access to <b>Coupa</b> organization, use Github OAuth to sign_in. Thanks!








