/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.auth-container {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -150px;

  .sign-in-btn {
    width: 100%;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 5em;
    padding-bottom: 1.0625rem;
    padding-left: 5em;
    font-size: 14px;
    background-color: #008cba;
    border-color: #007095;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: all 0.3s ease;
    color: #EEE;

    &:hover {
      background-color: #007095;
    }
  }
}

.alert {
  text-align: center;
}
/* line 7, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/build_window.scss */
.widget-build-window {
  background-color: #999999;
  border-radius: 15px;
  /*.justify {
    text-align:justify;
  }
  */
}
/* line 13, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/build_window.scss */
.widget-build-window .title {
  color: rgba(255, 255, 255, 0.7);
}
/* line 17, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/build_window.scss */
.widget-build-window .value {
  color: white;
}
/* line 21, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/build_window.scss */
.widget-build-window .more-info {
  color: rgba(255, 255, 255, 0.7);
}
/* line 25, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/build_window.scss */
.widget-build-window .updated-at {
  color: rgba(0, 0, 0, 0.3);
}
/* line 29, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/build_window.scss */
.widget-build-window .small {
  font-size: 0.6em;
}
/* line 9, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/countdown.scss */
.widget-countdown {
  background-color: #2a455c;
  border-radius: 15px;
}
/* line 14, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/countdown.scss */
.widget-countdown h2 {
  font-size: 2em;
}
/* line 16, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/countdown.scss */
.widget-countdown h1 {
  font-size: 2em;
}
/* line 18, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/countdown.scss */
.widget-countdown .countdown-time {
  margin-top: 10px;
  color: gold;
}
/* line 23, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/countdown.scss */
.widget-countdown .before-more-info {
  font-size: 15px;
  position: absolute;
  bottom: 52px;
  left: 0;
  right: 0;
}
/* line 4, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status {
  background: #2a455c url("/assets/invertocat.png") no-repeat center;
  position: relative;
  overflow: hidden;
}
/* line 8, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status.good {
  color: #396;
}
/* line 9, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status.minor {
  color: #f29d50;
}
/* line 10, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status.major {
  color: #c30;
}
/* line 12, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status div {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 19, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #latest-message {
  top: 25px;
  margin: 0 5px;
}
/* line 22, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #latest-message #message {
  background: #ccc;
  border-radius: 3px;
  border: 1px solid #ccc;
}
/* line 26, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #latest-message #message.good {
  background: #eaf4ef;
  border-color: #99ccb2;
}
/* line 30, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #latest-message #message.minor {
  background: #fdf5ed;
  border-color: #f8cea7;
}
/* line 34, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #latest-message #message.major {
  background: #f9eae5;
  border-color: #e5997f;
}
/* line 41, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #github-logo {
  bottom: 20px;
  height: 54px;
  width: 250px;
  background-size: 100% !important;
}
/* line 46, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #github-logo.good {
  background: url("/assets/logo-good.png");
}
/* line 47, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #github-logo.minor {
  background: url("/assets/logo-minor.png");
}
/* line 48, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status #github-logo.major {
  background: url("/assets/logo-major.png");
}
/* line 51, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/github_status.scss */
.widget-github-status .updated-at {
  color: rgba(255, 255, 255, 0.7);
}
/* line 10, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_column.scss */
.widget-google-column {
  background-color: #45b7e9;
  position: relative;
  border-radius: 15px;
}
/* line 16, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_column.scss */
.widget-google-column .title {
  position: absolute;
  /*color: $title-color;*/
  font-size: 110%;
  top: 5px;
  left: 0px;
  right: 0px;
}
/* line 25, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_column.scss */
.widget-google-column .chart {
  position: absolute;
  left: 0px;
  top: 0px;
}
/* line 9, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_line.scss */
.widget-google-line {
  background-color: #fb9618;
  position: relative;
  border-radius: 15px;
}
/* line 15, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_line.scss */
.widget-google-line .title {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
}
/* line 22, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_line.scss */
.widget-google-line .chart {
  position: absolute;
  left: 0px;
  top: 0px;
}
/* line 27, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_line.scss */
.widget-google-line .more-info {
  bottom: 5px;
  position: absolute;
}
/* line 11, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_pie.scss */
.widget-google-pie {
  background-color: #45b7e9;
  position: relative;
  border-radius: 15px;
}
/* line 17, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_pie.scss */
.widget-google-pie .title {
  position: absolute;
  color: black;
  top: 5px;
  left: 0px;
  right: 0px;
}
/* line 25, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/google_pie.scss */
.widget-google-pie .chart {
  position: absolute;
  left: 0px;
  top: 0px;
}
/* line 14, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/number1.scss */
.widget-number1 {
  background-color: #000000;
  border-radius: 15px;
  /*.title {
    color: $title-color;
  }*/
}
/* line 25, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/number1.scss */
.widget-number1 .value {
  color: white;
}
/* line 29, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/number1.scss */
.widget-number1 .change-rate {
  font-weight: 500;
  font-size: 30px;
  color: white;
}
/* line 35, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/number1.scss */
.widget-number1 .more-info {
  color: rgba(255, 255, 255, 0.7);
}
/* line 39, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/number1.scss */
.widget-number1 .updated-at {
  color: #ffffff;
  /*rgba(0, 0, 0, 0.3);*/
}
/*$background-color:  #2A455C;*/
/*$value-color:       #7582e3;*/
/* line 22, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table {
  background-color: #b0b9e8;
  border-radius: 15px;
  /*.title {
    color: $title-color;
  }*/
}
/* line 32, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table .value {
  margin-left: 12px;
  font-weight: 500;
  color: white;
}
/* line 38, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table .updated-at {
  color: #000000;
  /*rgba(0, 0, 0, 0.3);*/
}
/* line 43, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table .more-info {
  color: rgba(255, 255, 255, 0.7);
}
/* line 48, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table table {
  border-collapse: collapse;
  vertical-align: top;
}
/* line 55, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table th {
  background-color: #5974c0;
}
/* line 58, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table tr:nth-child(odd) {
  background-color: #5e8cba;
}
/* line 59, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table tr:nth-child(even) {
  background-color: #7582a3;
}
/* line 62, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table tr:hover {
  background-color: black;
}
/* line 64, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table td {
  margin: 0 15px;
  /*font: 12;*/
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  vertical-align: top;
}
/* line 72, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table .left {
  text-align: left;
}
/* line 75, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table .right {
  text-align: right;
}
/* line 80, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/table.scss */
.widget-table .tableContainer {
  clear: both;
  border: 0px solid #963;
  height: 525px;
  overflow: auto;
  width: 900px;
}

/*<style type="text/css">*/
/* Terence Ordona, portal[AT]imaputz[DOT]com         */
/* http://creativecommons.org/licenses/by-sa/2.0/    */
/* begin some basic styling here                     */
/*body {
        background: #FFF;
        color: #000;
        font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin: 10px;
        padding: 0
}
table, td, a {
        color: #000;
        font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif
}
h1 {
        font: normal normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin: 0 0 5px 0
}
h2 {
        font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin: 0 0 5px 0
}*/
/*h3 {
        font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
        color: #008000;
        margin: 0 0 15px 0
}*/
/* end basic styling                                 */
/* define height and width of scrollable area. Add 16px to width for scrollbar          */
/*div.tableContainer {
        clear: both;
        border: 1px solid #963;
        height: 285px;
        overflow: auto;
        width: 756px
}*/
/* Reset overflow value to hidden for all non-IE browsers. */
/*html>body div.tableContainer {
        overflow: hidden;
        width: 756px
}*/
/* define width of table. IE browsers only                 */
/*div.tableContainer table {
        float: left;
        width: 740px
}*/
/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
/*html>body div.tableContainer table {
        width: 756px
}*/
/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
/*thead.fixedHeader tr {
        position: relative
}*/
/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/*html>body thead.fixedHeader tr {
        display: block
}*/
/* make the TH elements pretty */
/*thead.fixedHeader th {
        background: #C96;
        border-left: 1px solid #EB8;
        border-right: 1px solid #B74;
        border-top: 1px solid #EB8;
        font-weight: normal;
        padding: 4px 3px;
        text-align: left
}*/
/* make the A elements pretty. makes for nice clickable headers                */
/*thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
        color: #FFF;
        display: block;
        text-decoration: none;
        width: 100%
}*/
/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
/*thead.fixedHeader a:hover {
        color: #FFF;
        display: block;
        text-decoration: underline;
        width: 100%
}*/
/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
/*html>body tbody.scrollContent {
        display: block;
        height: 262px;
        overflow: auto;
        width: 100%
}*/
/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
/*tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
        background: #FFF;
        border-bottom: none;
        border-left: none;
        border-right: 1px solid #CCC;
        border-top: 1px solid #DDD;
        padding: 2px 3px 3px 4px
}
tbody.scrollContent tr.alternateRow td {
        background: #EEE;
        border-bottom: none;
        border-left: none;
        border-right: 1px solid #CCC;
        border-top: 1 px solid #DDD;
        padding: 2px 3px 3px 4px
}*/
/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
/*html>body thead.fixedHeader th {
        width: 200px
}
html>body thead.fixedHeader th + th {
        width: 240px
}
html>body thead.fixedHeader th + th + th {
        width: 316px
}*/
/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
/*html>body tbody.scrollContent td {
        width: 200px
}
html>body tbody.scrollContent td + td {
        width: 240px
}
html>body tbody.scrollContent td + td + td {
        width: 300px
}
*/
/*</style>*/
/*$background-color:  #45B7E9;

$title-color:       rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 0.7);*/
/* line 12, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/text.scss */
.widget-text {
  background-color: #45B7E9;
  border-radius: 15px;
}
/* line 16, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/text.scss */
.widget-text h2 {
  font-size: 2em;
}
/* line 17, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/text.scss */
.widget-text h1 {
  font-size: 2em;
}
/* line 20, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/text.scss */
.widget-text .title {
  color: white;
}
/* line 24, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/text.scss */
.widget-text .more-info {
  color: rgba(255, 255, 255, 0.7);
}
/* line 28, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/text.scss */
.widget-text .updated-at {
  color: rgba(255, 255, 255, 0.7);
}
/* line 33, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/text.scss */
.widget-text.large h3 {
  font-size: 65px;
}
/* line 12, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/timeline.scss */
.widget-timeline {
  background-color: #4b4b4b;
  padding-bottom: 0px;
  border-radius: 15px;
}
/* line 18, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/timeline.scss */
.widget-timeline .title {
  color: rgba(255, 255, 255, 0.7);
}
/* line 22, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/timeline.scss */
.widget-timeline .more-info {
  color: rgba(255, 255, 255, 0.7);
}
/* line 26, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/timeline.scss */
.widget-timeline .event-description {
  fill: white;
  font-size: 14px;
}
/* line 31, /Users/lichengxu/new/new2/release_dashboard/app/assets/stylesheets/dashing/widgets/timeline.scss */
.widget-timeline .event-description-date {
  fill: white;
  font-size: 12px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
